<div class="ui-social-links">
	<ul class="menu align-center">
		<li>
			<a href="https://www.linkedin.com/in/vishaka-piyumali-6a196024/" target="_blank">
				<span class="icon fi-social-linkedin size-48" aria-hidden="true"></span>
			</a>
		</li>
		<li>
			<a href="https://github.com/vishaka-piyumali">
				<span class="icon fi-social-github size-48" aria-hidden="true"></span>
			</a>
		</li>
		<li>
			<a href="mailto:vishakapiyumali@gmail.com">
				<span class="icon fi-mail size-48" aria-hidden="true"></span>
			</a>
		</li>
		<li>
			<a href="https://www.facebook.com/vishakapiyumali">
				<span class="icon fi-social-facebook size-48" aria-hidden="true"></span>
			</a>
		</li>
	</ul>
</div>
