$accent-color: gold;
$primary-color: black;

$secondary-color: darkgrey;
$tertiary-color: lightgreen;

$primary-font-color: #2A3745;
$accent-foreground-color: white;

$primary-border-color: whitesmoke;

