<div class="ui-skills">
	<h3 class="column-title">Skils</h3>
	<div class="grid-container {{gridContainer}}">
		<div class="grid-x">
			<div class="cell large-auto">
				<ul class="bar-graph">
					{{#skills:key}}
						<li class="bar alert" style="width: {{skillLevel(.)}}%;" title="40">
							<div class="percent">{{skillLevel(.)}}%</div>
							<div class="description">{{key}}</div>
						</li>
					{{/skills}}
				</ul>
			</div>
		</div>
	</div>
</div>
