<div class="ui-skills">
	<h3 class="column-title">Skils</h3>
	<div class="grid-container {{gridContainer}}">
		<div class="grid-x">
			<div class="cell large-auto">
				<ul class="skill-categories">
					{{#categories}}
						<li class="category" style="width: 100%;" title="40">
							<div class="title">{{.title}}</div>
							<div class="skillset">
								{{#.skills:key}}
									<span class="skill">{{key}}</span>
								{{/.skills}}
							</div>
						</li>
					{{/categories}}
				</ul>
			</div>
		</div>
	</div>
</div>
