<div class="ui-skills">
	<h1>Skills template</h1>
	<ul class='skills'>
		{{#each skills}}
			<li>{{.name}} - {{level}}</li>
		{{else}}
			<li>No results yet...</li>
		{{/each}}
	</ul>
	{{message}}
	{{>content}}
</div>
