.ui-skills {

	margin-top: 50px;

	.skill-categories {

		width: 100%;
		padding: 0;
		margin: 0;

		.category {
			border: 1px solid $primary-border-color;
			background: $primary-background-color;
			display: block;
			position: relative;
			text-align: left;
			vertical-align: bottom;
			margin: $small 0;
			transition: background-color 0.5s ease;
			&:hover {
				background: $accent-color;
			}

			.title {
				display: block;
				height: max-content;
				text-transform: uppercase;
				font-size: 14px;
				padding: $small;
				border-bottom: 1px solid $primary-border-color;
			}

			.skillset {
				padding: $tiny;
				.skill {
					@include media("<=tablet") {
						border: none;
						display: block;
					}
					opacity: 0.5;
					padding: $tiny;
					margin-left: 0;
					border-right: 1px solid $secondary-border-color;
					&:last-child {
						border: none;
					}
				}

			}
		}
	}
}
