.ui-skills {
	$bar-graph-height: 425px;

	.bar-graph {
		padding: 0;
		width: 100%;
		height: $bar-graph-height;
		margin: 0;

		li {
			display: block;
			position: relative;
			text-align: left;
			vertical-align: bottom;
			height: 30px;
			margin: 10px;
		}

		.bar-graph-axis {
			flex: 1 1 8%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.bar-graph-label {
			margin: 0;
			background-color: none;
			color: darkgrey;
			position: relative;
		}

		.percent {
			display: block;
			position: absolute;
			right: -80px;
			width: 70px;
			opacity: 0.4;
			font-size: rem-calc(30);
			position: absolute;

			span {
				font-size: rem-calc(30);
			}
		}

		.description {
			width: 100px;
			display: block;
			position: absolute;
			left: 10px;
			top: 3px;
			height: max-content;
			font-weight: 800;
			opacity: 0.5;
			text-transform: uppercase;
			font-size: 14px;
			font-size: rem-calc(16);
			overflow: hidden;
		}

		.bar {
			border: 1px solid darkgrey;
			background: white;
		}
	}

	.item {
		font-size: $medium;
		width: 100%;

		span {
			display: block;
			margin-bottom: $small;
		}
		.bar {
			background: white;
			transition: background-color 0.5s ease;
			border: 1px solid darkgrey;
			text-align: center;
			padding: 5px;
			height: 30px;
			&:hover {
				background: $accent-color;
			}
		}
	}
}
