<ui-section id="about" classList="hero-section">
	<h1>Hello!</h1>
	<p>
		I am Vishaka, front end web developer living in Sydney.
	</p>
	<p>
		I am passionate about creating clean, unique, responsive, accessible and elegant web sites for better user experience.
	</p>
</ui-section>
<ui-section id="skills" classList="grid-section" gridContainer="full" title="Skills">
	<ui-skills></ui-skills>
</ui-section>
<ui-section id="work"
			classList="featured-section top-left-theme"
			style="background: url('/assets/images/woman-coder.jpg') bottom; height: 600px"
			gridContainer="full"
			gridClass="grid-padding-x"
			column="large-6"
>
	<h2>My work</h2>
	<p>This is the hand-crafted website designed and developed myself. If you are keen to look at the code behind, check it out in the <a href="https://github.com/vishaka-piyumali/portfolio" alt="githib click here to open in a new window" target="_blank">github.</a> </p>
</ui-section>
<ui-section id="contact" style="background: url('/assets/images/web-development-4.jpg'); background-size: cover; height: 500px" gridContainer="full" column="large-6">
	<h2>Need help with your website?</h2>
	<p>Are you looking for a simple, stylish and functional new website? Look no further. I deliver attractive and functional websites.</p>
</ui-section>
