<section id="{{id}}" class="ui-section {{classList}}">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<h1>{{title}}</h1>
				{{details}}
				{{>content}}
			</div>
		</div>
	</div>
</section>
