.menu-grid-open {
	background: $primary-color;
	color: $accent-foreground-color;
	.icon {
		color: $accent-foreground-color;
		&:hover {
			color: $primary-color;
			text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px  $accent-color, 0 0 30px  $accent-color, 0 0 40px  $accent-color, 0 0 50px  $accent-color, 0 0 75px  $accent-color;
		}
	}
	button.close-button {
		color: $accent-color;
		font-size: $large;
		&:hover {
			text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px  $accent-color, 0 0 30px  $accent-color, 0 0 40px  $accent-color, 0 0 50px  $accent-color, 0 0 75px  $accent-color;
		}
	}
	.grid-menu .menu-item  {
		text-align: center;
		a > div {
			color: $accent-foreground-color;
			letter-spacing: 2px;
			&::after {
				content: ':';
				color: $accent-color;
				font-weight: bold;
				font-size: 20px;
			}
		}
	}
}
