header {
	background: $primary-color;
	color: $accent-foreground-color;
	padding: $large $medium;
	border-bottom: 5px solid $accent-color;
	.logo {
		font-size: 2em;
		margin: 0;
		display: block;
		width: max-content;
		border: 1px solid $primary-border-color;
		color: whitesmoke;
		padding: 20px;
		font-family: 'v-logo-family';
		letter-spacing: 20px;
		padding-right: 5px;
		padding-bottom: 15px;
		em {
			color: $accent-color;
			text-decoration: none;
			font-style: normal;
		}
	}
	.menu {
		float: right;
		color: $accent-color;
		margin-right: 40px;
	}
}
