<div class="ui-kudos">
	<a alt="{{liked?"Thank you":"Kudos for this portfolio?"}}" title="{{liked?"Thank you":"Kudos for this portfolio?"}}" on-click="sendKudos">
		<span class="icon fi-like size-48 {{liked?"liked":""}}">
		</span>
	</a>
	<div>{{kudos}} Kudos</div>
</div>
