<div class="ui-header">
	<div class="grid-container full">
		<div class="grid-x">
			<div class="cell small-6">
				<img src="/assets/images/logo.png" width="100px" alt="Vishaka Wele Uhulangage - Sydney based web developer" />
			</div>
			<div class="cell small-6">
				<button class="menu fi-thumbnails size-48" data-toggle="offCanvas">
				</button>
			</div>
		</div>
	</div>
</div>
